<html>
<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<header class="navbar p-0 bg-success bg-gradient shadow-sm">
    <div>
        <a class="navbar-brand text-white m-3" href="/">Flashcards</a>
        {% if request.user.is_active %}
        <a class="btn bg-primary bg-gradient text-white m-2" href="{% url 'flashcards-list' %}">My Collection</a>
        <a class="btn bg-primary bg-gradient text-white m-2" href="{% url 'add-flashcard' %}">New</a>
        {% endif %}
    </div>
    <div>
        <ul>
            {% if request.user.is_active %}
            <a type="button" href="{% url 'logout' %}">
                <li class="btn bg-primary bg-gradient text-white m-2">Logout</li>
            </a>
            {% else %}
            <a type="button" href="{% url 'register' %}">
                <li class="btn bg-primary bg-gradient text-white m-2">Register</li>
            </a>
            <a type="button" href="{% url 'login' %}">
                <li class="btn bg-primary bg-gradient text-white m-2">Login</li>
            </a>
            {% endif %}
        </ul>
    </div>
</header>
<body>
{% block content %}{% endblock %}
</body>
<footer class="bg-success">
    <h5 class="m-1">Merito 2024</h5>
</footer>
</html>