{% extends "./base.html" %}
{% load static %}
{% block content %}
    {% if logout %}
        <br>
        <h5 class="text-success text-center">Logged out successfully.</h5>
    {% endif %}
    {% if empty_deck %}
        <br>
        <h5 class="text-success text-center">You have no flashcards yet. Go and create some!</h5>
    {% endif %}
    <main class="text-center">
        <h1>Welcome to the flashcards app!</h1>
        <hr>
        {% if user.is_active %}
            <h2>Go and explore your collection now, {{ user.username }} :)</h2>
        <br>
            <div>
                <a class="btn btn-alert navbar-btn btn-lg bg-primary bg-gradient text-white m-1"
                   type="button"
                   href="{% url 'learn' %}">Learn</a>
                <a class="btn btn-alert navbar-btn btn-lg bg-primary bg-gradient text-white m-1"
                   type="button"
                   href="{% url 'flashcards-collection' %}">My Collection</a>
            </div>
        {% else %}
            <i class="fa fa-graduation-cap fa-5x"></i>
            <h2>Please log in to explore the wonderful world of flashcards :)</h2>
        {% endif %}
    </main>
{% endblock %}
