{% extends "./base.html" %}
{% load static %}
{% block content %}
    <br>
    <style>
    #hiddenDiv {
        display: none;
    }
    </style>
    <main>
        <section id="flashcard"
                 class="card text-black bg-white shadow-sm align-items-center">
            <h3>{{ flashcard.question }}</h3>
        </section>
        <section id="answerButton" class="text-center">
            <button id="showButton" class="btn btn-info btn-lg p-3">Answer</button>
        </section>
        <div id="hiddenDiv">
            <h4 class="card text-white shadow-sm bg-success align-items-center">{{ flashcard.answer }}</h4>
            <div class="d-grid d-md-flex justify-content-center">
                <a type="button"
                   class="btn btn-info shadow-sm px-2 border-2 border-danger"
                   href="{{ next_flashcard_url }}">Next</a>
            </div>
        </div>
        <script>
        document.getElementById('showButton').addEventListener('click', function() {
        var hiddenDiv = document.getElementById('hiddenDiv');
        hiddenDiv.style.display = (hiddenDiv.style.display === 'block') ? 'none' : 'block';
        var showButton = document.getElementById('showButton');
        showButton.innerText = (hiddenDiv.style.display === 'none') ? 'Answer' : 'Hide';
        });
        </script>
    </main>
{% endblock %}
