{% extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

    <main>
        <section id="flashcards">
            <h3 class="text-center p-2">Your Flashcards</h3>

            <div class="d-flex flex-column m-1">
                <a class="btn btn-alert navbar-btn btn-lg bg-primary bg-gradient text-white m-1" id="showCreateFlashcardForm" type="button">New</a>
                {% crispy form %}
            </div>


            <ul class="d-flex flex-wrap justify-content-start">
                {% for flashcard in flashcards %}
                <li>
                    <div class="card text-center text-white bg-info bg-gradient p-1 m-1"
                         style="min-width: 15rem;
                                height: 6rem">
                        <a class="card-title m-1" href="">{{ flashcard.name }}</a>
                        <div>
                            <a class="btn btn-alert navbar-btn bg-primary bg-gradient text-white m-1"
                               type="button"
                               href="{{ flashcard.learn_url }}">Learn</a>
                            <form id="delete "
                                  class="btn btn-alert navbar-btn bg-primary bg-gradient m-1"
                                  method="POST">
                                <a class="link-light link-underline link-underline-opacity-0 link-underline-opacity-100-hover text-white"
                                   type="button"
                                   onclick="document.getElementById('delete ').submit()">
                                    <input type="hidden" name="delete" value="">
                                    Delete
                                </a>
                            </form>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <style>
    #hiddenForm {
        display: none;
    }
    </style>

    <script>
        function toggleFormVisibility () {
        var hiddenForm = document.getElementById('hiddenForm');
        hiddenForm.style.display = (hiddenForm.style.display === 'block') ? 'none' : 'block';
        var showButton = document.getElementById('showCreateFlashcardForm');
        showButton.innerText = (hiddenForm.style.display === 'none') ? 'New' : 'Hide';
        };
        document.getElementById('showCreateFlashcardForm').addEventListener('click', function(e) {toggleFormVisibility();})
    </script>



{% endblock %}
